<div class="container">
  <div class="row">
    <div class="col-md-12">
      Data queried at: {{meta|date:'short'}}
    </div>
  </div>
  <div class="row">
<div class="col-md-12">
  <table class="table table-hover" *ngIf="users.length>0">
    <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>nombre</th>
        <th># posts</th>
        <th># comments</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users;let i = index">
      <tr>
        <td><button class="btn btn-secondary" (click)="togglePosts(i)">
            <div *ngIf="!isPostVisible[i];else v">^</div>
            <ng-template #v>v</ng-template>
          </button></td>
        <td>{{user.id}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.posts_amount}}</td>
        <td>{{user.comments_amount}}</td>
        <td><button class="btn btn-secondary" (click)="downloadUserData(user)">Download</button></td>
      </tr>
      <tr [hidden]='isPostVisible[i]' *ngFor="let post of user.posts">
        <td colspan="6" class="indented">{{post.title}}</td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
 
</div>